/*Padding: es el espacio que hay entre el contenido y el borde.
Borde: lo que envuelve todo, es decir el padding y el contenido. Queda por fuera del padding.
El tamaño total de una caja es: tamaño del contenido + tamaño del padding + tamaño del borde.
Margen: separa la caja pero no influye en el tamaño de esta.
Box-sizing: 
    - Por defecto viene content-box, con esta propiedad el tamaño de la caja se calcula como se menciona arriba. El ancho y el alto que se define es unicamente del contenido.
    - Border-box -> hace que el alto y el ancho que definimos sea el definitivo, es decir que va desde el borde hacia adentro (incorpora el borde, el padding y el contenido).
Cuando se establece una medida en porcentaje, éste es relativo a su contenedor.    

Position absolue: te permite definir las cordenadas donde se va a situar la caja de manera manual y donde vos quieras. Es decir la posición es absoluta respecto a la página.

Position relative: te permite definir la posición de los elementos hijos respecto a su padre, definiendose en el padre la posición relativa.

Position fixed: parecido al absolute pero queda fijo en la pantalla. Las coordenadas que se establecen son respecto a la pantalla.

Postion sticky: va a tratar de dejar siempre la caja dentro del contenedor padre. No es una posición fija.

z-index: propiedad que define el nivel de apilamiento. Recordar que para hacer uso de esta propiedad hay que creaer un contexto de apilamiento.

FLEX: propiedad que establece como tiene que funcionar el contenedor respecto a sus hijos. Se usa en el contenedor padre. Se trabaja en un único eje, puede ser horizontal (rows) o vertical (columns).
flex-direction: row o column
flex-wrap: 
    -nowrap -> adedcúa los hijos al contenedor, si no entran los va a achicar de tal manera que quepan.
    -wrap -> le permite al contenedor, si no caben los hijos, hacer un salto de linea.
flex: 1 -> permite que los elementos se agranden o se achiquen dependiendo del contenedor. Tambien actua como una medida relativa.
gap: establece el espacio entre los elementos.
justify-content: define como se distribuye el contenido en el eje principal (eje X).
align-content: define como se distribuye el contenido en el eje cruzado (eje Y).
*/
* {
    /*box-sizing: border-box;*/
    color: #ffffff;
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-size: 20px;
}

@keyframes moverGradiente {
    0% { background-position: 0% 50%; }
    25% { background-position: 25% 50%; }
    50% { background-position: 50% 50%; }
    75% { background-position: 75% 50%; }
    100% { background-position: 100% 50%; }
}

body {
    background: linear-gradient(120deg, #000000, #ae1313, #000000);
    background-size: 200% 200%;
    animation: moverGradiente 4s infinite alternate;
    width: 98%;
    margin: 0 auto;
}

@media (min-width: 1024px) { /* Ajusta el tamaño según tu necesidad */
    body {
        width: 70%;
    }
}

.cabecera{
    display: flex;
    flex: 8;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;    
    background-color: #1f1f1fc9;
    font-size: 1rem;
    padding: 0px 20px;
    border: 2px solid #1f1f1fc9;
    border-radius: 40px;
}

.subtitle{
    text-align: center;
    font-size: 2rem;
}

.nav_menu{
    display: flex;
    flex: 2;
    justify-content: flex-end;
    gap: 4px;  
    margin-right: 10px;
}

#titulo{
    margin-left: 20px;
    padding: 0px 8px;
    font-size: 2rem;
    border-radius: 6px;
    color: #ffffff;
}

#titulo:hover{
    border: 0;
    scale: 1.1;
    color: #df3737;
    cursor: pointer;
}

.anchor_button{
    font-size: 1.2rem;
    padding: 4px;
    border-radius: 6px;
    border: 0;
    color: #ffffff;
    background-color: transparent;
} 

.anchor_button:hover{
    border: 0;
    scale: 1.1;
    color: #df3737;
    cursor: pointer;
}

#cv_button svg {
    width: 24px;
    height: 24px;
    padding-left: 2px;
}

#container_aboutme{
    display: flex;
    justify-content: space-around;
    height: 300px;
}
#aboutme{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    flex: 7;
    margin-right: 12px;
    border: 0;
    border-radius: 16px 0px 0px 16px;
    width: 70vw;
    font-size: 1rem;
    color: #ffffffff;
    background: #1f1f1fc9;
    border-bottom: 100px;
}

@keyframes typing {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#h2_aboutme {
    white-space: nowrap; /* Evita saltos de línea */
    overflow: hidden;
    width: 0;
    display: inline-block;
    animation: typing 5s steps(40, end) infinite forwards;
    margin: 20px 0px;
}

#p_aboutme {
    margin: 20px 10px;
}

#button_cv{
    padding: 8px 16px;
    border-radius: 6px;
    border: 0;
    color: #ffffff;
    background: #ae1313b6;
    font-size: 1rem;
    cursor: pointer;
}

#button_cv:hover{
    background: #df3737;
}

#img_aboutme{
    display: flex;
    flex: 3;
    border: 0;
    border-radius: 0px 16px 16px 0px;
    width: 30vw;
}
#img_tomas{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.container{
    background: #1f1f1fc9;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    margin-top: 20px;
}

#projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 28px;
    margin: 20px 0px;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background: #ae1313b6;
    color: #ffffff;
    width: 300px;
    height: 300px;
}

.button_project{
    padding: 6px;
    border-radius: 6px;
    color: #ae1313b6;
    background: white;
    border: none;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.button_project:hover{
    color: white;
    background: #df3737;
}

#tecnologies{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
}

#tecnologies_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 40px 20px 40px;
}

#seccion_contacto{
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 550px;
    margin: 40px auto;
    align-items: center;
}

form{
    padding: 0px 10px 0px 10px;
    margin: 20px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: black;
}

#button_form{
    padding: 6px;
    border-radius: 6px;
    border: 1px solid black;
    color: #ae1313b6;
    background: white;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

#button_form:hover{
    color: white;
    background: #df3737;
}

.form_div{
    padding-bottom: 6px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.entrada{
    width: 100%;
}
#mensaje{
    height: 100px;
    width: 100%;
    resize: none;
}

.footer{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 12px;
}

.img_footer{
    margin-right: 10px;
}

.button_scroll{
    display: none;
}

#button_home{
    position: fixed;
    bottom: 110px;
    right: 10px;
    z-index: 99;
    cursor: pointer;
    padding: 4px;
} 
